.card {
  position: relative;
  text-align: center;
  border-radius: 15px;
  flex-direction: column;
  padding: 20px;
  margin: 100px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.container__id {
  position: absolute;
  top: 25px;
  right: 20px;
}

@media screen and (max-width: 320px) {
  .card {
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .card img {
    height: 150px;
    width: 150px;
  }
  .card h1 {
    font-size: 30px;
  }
}
